.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 20px;
    color: #1648c6;
  }

  a {
    text-decoration: none;
    background-color: #1648c6;
    padding: 8px;
    border-radius: 4px;
    color: #fff;
  }
}